<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Maker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <a href="/">Home</a>
        <a href="/get_user_info">Get Recommendations</a>


 
        <div class="nav-right">
            {% if username %}
                <span>Welcome, {{ username }}</span>
                <a href="/logout" class="logout-btn">Logout</a>
            {% else %}
                <a href="/login" class="login-btn">Login</a>
            {% endif %}
        </div>
    </nav>


    <main>
        {% block content %}{% endblock %}
    </main>

   


</body>
</html>
