{% extends 'base.html' %}

{% block content %}
<header>
    <h1>Welcome to Playlist Maker</h1>
</header>
<main>
    <h2>Create personalized playlists for your music journey.</h2>
    <p>With Playlist Maker, you can generate customized playlists based on your preferences and update them whenever you like!</p>
    <p>Get started by exploring our recommendations or updating an existing playlist.</p>
    <a href="/recommendations"><button>Get Recommendations</button></a>
    <a href="/update_playlist"><button>Update Playlist</button></a>
</main>
{% endblock %}
