<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  
    <div class="login-container">
        <h1>Login to Spotify</h1>
        <p>Log in with spotify to create and save personalized playlists</p>
        <a href="{{ login_url }}" class="btn">Login with Spotify</a>
    </div>

</body>
</html>
