{% extends 'base.html' %}

{% block title %}Recommendations{% endblock %}
{% block content %}
<body>
    <h1>Playlist Summary</h1>
    <h2>{{ playlist.name }}</h2>
    <ul>
        {% for track in tracks %}
        <li>{{ track.track.name }} - {{ track.track.artists[0].name }}</li>
        {% endfor %}
    </ul>
    <p>{{ playlist_summary }}</p>
    <form action="{{ url_for('alter_playlist', playlist_id=playlist.id) }}" method="post">
        <label for="add_tracks">Track to Add:</label>
        <input type="text" id="add_tracks" name="add_tracks">
        <br>
        <label for="remove_tracks">Track to Remove:</label>
        <input type="text" id="remove_tracks" name="remove_tracks">
        <br>
        <button type="submit">Update Playlist</button>
    </form>
</body>
{% endblock %}
